@import 'reset', 'base';

#app {
  width: 100%;
  color: $blue-gray;
}

/*共用元素*/
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.account {
  color: $account-gray;
  font-size: .9rem;
}

.main-container-title {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid $border;
  font-size: 1.2rem;
  font-weight: 500;
}

.container-w {
  display: grid;
  height: 100vh;
  grid-template-rows:  1fr 60px;
  grid-template-areas: 'main' 'navbar';
}

.main-container {
  grid-area: main;
  overflow-y: scroll;
}

.right-container {
  display: none;
}


@media screen and (min-width: 768px) {
  .container-w {
    height: 100vh;
    grid-auto-columns: 300px minmax(450px, 1fr).5fr;
    grid-template-areas: 'navbar main top';
    overflow: scroll;
  }
  
  .right-container {
    display: block;
    grid-area: top;
    margin-right: 30px;
  }
  
  .main-container {
    min-width: 400px;
    border-right: 1px solid $border;
  }
}