$main-white: #EEF0F2;
$main-black: #141414;
$dark-gray:#3f3f3f;
$light-gray: #D2D2D2;
$main-yellow: #eec643;
$blue-gray: #37474F;
$pink: #E1645A;

%flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 3rem 0;
  @extend %flexColumnCenter
}

.sign-container {
  background-color: rgb(0,0,0,.1);
  border-radius: 8px 8px 0px 0px;
  padding: 30px;
  height: 510px;
  width: 350px;
  @extend %flexColumnCenter;
  -webkit-box-shadow: 5px 15px 18px 3px rgba(0,0,0, .2);
  -moz-box-shadow: 5px 15px 18px 3px rgba(0,0,0, .2);
  box-shadow: 5px 15px 18px 3px rgba(0,0,0, .2);
}

.sign-title {
  text-align: center;

  img {
    width: 100%;
    height: 80px;
  }
  .title {
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.sign-form-container {
  @extend %flexColumnCenter;
}

.sign-form,.admin-sign-form {
  margin-top: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    top: 0px;
    left: 5px;
    font-size: .9rem;
    margin-bottom: 5px;
  }
  input {
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:rgb(255,255,255,.7);
    &::placeholder {
      text-align: right;
      color: $light-gray;
    }
  }
}

.sign-button {
  background: $pink;
  border-radius: 50px;
  margin-top: 15px;
  height: 35px;
  color: $main-white;
}

.sign-footer {
  height: 50px;
  width: 350px;
  text-align: center;
  background-color: $blue-gray;
  border-radius: 0px 0px 8px 8px;
  letter-spacing: .1rem;
  margin-top: 50px;
  
  h3 {
    color: $light-gray;
    line-height: 50px;
  }
}

.signin-link {
  font-weight: 500;
  width: 100%;
  display: block;
  text-align: right;
  margin: 20px 20px 0px 0px;
  font-size: .8rem;
}

.admin-sign-title {
  display: block;
  line-height: 150px;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 5rem;
    position: relative;
    height: 600px;
  }

  .sign-container {
    width: 700px;
    flex-direction: row;
    padding: 0 80px;
    position: relative;
  }

  .sign-title {
    width: 50%;
  }

  .sign-form-container  {
    width: 50%;
    height: 300px;
  }

  .sign-footer {
    position: absolute;
    top: 355px;
    left: 0;
    height: 70px;
    width: 700px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 95%);

    h3 {
      margin: 15px 20px 0px 0px;
      text-align: right;
    }
  }

  .admin-sign-form {
    margin-top: 43px;
  }

 .sign-up-container {
    margin-top: -90px;
  }
  .sign-up-title {
      font-size: 1.2rem;
      margin: -30px 0px 0 90px; 
  }
}